@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background: radial-gradient(
        #d3aa4c
    ),
    radial-gradient(
      1000px circle at 80% 10%,
      rgba(211, 170, 76, 0.10),
      transparent 55%
    ),
    #0b0f17;
  color: rgba(255, 255, 255, 0.92);
}

#root {
  min-height: 100%;
}

.MuiDataGrid-columnsManagement{
  color:#000000;
}

